<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <img
    src="/images/MAIF-logo-2019.png"
    width="100"
    >
    <h1>{{title}}</h1>
    <h2>App ID : {{appId}}</h2>
    <p>Application de demonstration NodeJs pour le deploiement d'une application Cloud Compatible<br>
    Application sans base de données
    </p>
    <p>
    From Github.com Action
    </p>
    <p>This is version 1.0.0 of this web application.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
